<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .set1{
            background-color: aqua;
            color: purple;
        }
        .set2{
            text-align: center;
            width: 120px;
        }
        .set3{
            border: 1px dashed sandybrown;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
</head>
<body>
    <div id="example">
        <button id="btn1" v-bind:class="{set1 : s1, set2 : s2, set3 : s3}">버튼1</button>
        <p>
            <input type="checkbox" v-model="s1" value="true">set1 디자인<br>
            <input type="checkbox" v-model="s2" value="true">set2 디자인<br>
            <input type="checkbox" v-model="s3" value="true">set3 디자인<br>
        </p>
        <!-- v-model을 통해 v-bind:class에 양방향 바인딩 -->
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#example",
            data: {
                s1: false,
                s2: false,
                s3: false
            }
        })
    </script>
</body>
</html>